.jumbotron img {
  object-position: 0 0;
}

.jumbotron .container {
  justify-content: flex-start;
  margin-top: 1rem;
}

@media (max-width: 1100px) {
  .jumbotron .container p {
    max-width: 250px;
    margin-top: 0.5rem;
  }
}

@media (max-width: 575px) {
  .jumbotron .container .text,
  .jumbotron .container p {
    max-width: 100%;
  }
}